<section name="contact" class="jumbotron text-center bg-light" id="contact">
<div class="container">
    <div class="py-5 text-center">
      <h2>Contact</h2>
    </div>

    <div class="row">
      <div class="col-md-12 order-md-1">
        <form class="needs-validation"  novalidate="">
            <div class="row">
                <div class="col-md-12 mb-3">
                <label for="firstName">Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Valid name is required.
                </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="email">Email </label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                    Please enter a valid email address.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="details">Details </label>
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
            </div>

          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>