<section name="contact" class="jumbotron text-center mb-0" id="contact">
<div class="container">
    <div class="mb-3 text-center">
      <h1 class="jumbotron-heading">Contact</h1>
    </div>
        <form class="needs-validation" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
            <div class="row justify-content-md-center">
                <div class="col-md-6 mb-3">
                  <hr class="mb-4">
                <label for="firstName">Name</label>
                <input type="text" #firstName class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" placeholder="Andrzej" formControlName="name" matInput>
                <div class="invalid-feedback" *ngIf="submitted && f['name'].errors">
                    Valid name is required.
                </div>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-md-6 mb-3">
                    <label for="email">Email </label>
                    <input type="email" class="form-control" placeholder="you@example.com" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" formControlName="email">
                    <div class="invalid-feedback" *ngIf="submitted && f['email'].errors">
                    Please enter a valid email address.
                    </div>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-md-6 mb-3">
                    <label for="details">Details </label>
                    <textarea class="form-control" aria-label="Text" formControlName="message" [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"></textarea>
                    <div class="invalid-feedback" *ngIf="submitted && f['message'].errors">
                      Please enter description. (min. 10chars)
                    </div>

                      <hr class="mb-4">
                      <button class="btn btn-primary btn-lg btn-block" type="submit">Send</button>
                </div>
            </div>
        </form>
  </div>
</section>